@font-face {
	font-family: 'ibm_font';
	src: url("/fonts/Web437_IBM_VGA_8x14.woff") format("woff");
}
body {
	color: #ffffff;
	background-color: #000000;
    font-family: 'ibm_font';
}
.dystopian {
	display: flex;
	justify-content: center;
	align-items: top;
	height: 20vh;
	text-align: center;
	color: rgb(201, 53, 53);
}
/* Navbar Index*/
.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4vh;
	text-align: center;
	color: white;
	text-decoration: none;
	font-family: 'ibm_font';
}
.navbar a {
	color: white;
	text-decoration: none;
}
/* Caixa principal */
.box_text {
	background-color: black; 
	color: white; 
	padding: 20px; 
	border-radius: 10px; 
	border: 2px solid white; 
	margin-left: 50px;
	margin-right: 50px;
    font-family: 'ibm_font';
    font-size: 20px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.box_text a {
	color: white;
	text-decoration: none;
}